/* Simple 2D buttons with hover effect */
.button2D {
    padding: 0.5em;
    text-align: center;
    font-size: 1.1em;
    border-radius: 3px;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #fff !important;
    position: relative;
    display: inline-block;
    
    /* Don't make it selectable */
    -webkit-user-select: none;  
       -moz-user-select: none;    
        -ms-user-select: none;
            user-select: none;
    
    /* change pointer when hovering over button */
    cursor: pointer !important; 
    min-width: 100px;
	color: inherit;
	
    margin-top: 6px;
    margin-right: auto;
    margin-left: 0.75em;
	z-index: 1;
	-webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    
    /*
    -webkit-transition: all 0.1s !important;
       -moz-transition: all 0.1s !important;
         -o-transition: all 0.1s !important;
            transition: all 0.1s !important;*/
}

/* no-fixed rule - don't fix the size to a minimum length */
.no-fixed {
    min-width: 0px !important;
    padding-left: 1em;
    padding-right: 1em;
}

/* sharp looking buttons - flat */
.sharp {
    border-radius: 0px;
}

.long {
    padding-left: 15px;
    padding-right: 15px;
}

/*
||======||
||COLORS||
||======||*/
.clear {
    font-family: 'Arvo', sans-serif;
    background: rgba(255, 255, 255, 0.4);
    /*text-shadow: 0px -1.5px rgba(0, 0, 0, 0.5);*/
}
.clear:hover {
    background: rgba(0, 0, 0, 0.4);
}

.pink-red {
    font-family: 'Arvo', sans-serif;
    background: #ff6d96;
    /*background: #00ef98;*/
    color: white;
}
.pink-red:hover {
    background: #fe80a3;
}
.pink-red:active {
    background: #ef648b;
}

.spotify-green {
    font-family: 'Arvo', sans-serif;
    background: #00e486;
}
.spotify-green:hover {
    background: #00ef8d;
}
.spotify-green:active {
    background: #00d87f;
}

.grey {
    font-family: 'Arvo', sans-serif;
    background: #c2c2c2;
    color: white;
}
.grey:hover {
    background: #b5b5b5;
}
.grey:active {
    background: #a8a8a8;
}