* {
  box-sizing: border-box; 
}

.sidebar {
    background: #333333;
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    transition-property: width, background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.open-nav {
    width: 250px;
}

.sidebar ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 0px;
}

.sidebar a {
    text-align: left;
    font-family: 'Arvo', sans-serif;
    display: block;
    padding: 10px;
    width: 100%;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.sidebar a:hover {
    background: rgba(255, 255, 255, 0.20);
    color: #ff6d96;
    color: #00ef8d;
}

.sidebar .s-icon {
    margin-left: 8px;
    transition-property: margin-left, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

/* WHY THE FUCK ISNT THIS WORKING */


.sText {
    margin-left: 13px;
    transition: opacity 0.5s ease, color 0s;
    opacity: 0;
}

.toggle {
    opacity: 1;
}

/* TODO RENAME */
.toggle2 {
    margin-left: 0px;
}

.rotate {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

/* TODO: RENAME THIS ISH */
.right {
    position:relative;
    margin-left: 50px;
    
    transition-property: margin-left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

/* TODO RENAME THIS ISH */
.open-nav2 {
    margin-left: 250px;
}