html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

* {
  box-sizing: border-box; 
}

.sidebar {
    background: #333333;
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    transition-property: width, background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.open-nav {
    width: 250px;
}

.sidebar ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 0px;
}

.sidebar a {
    text-align: left;
    font-family: 'Arvo', sans-serif;
    display: block;
    padding: 10px;
    width: 100%;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.sidebar a:hover {
    background: rgba(255, 255, 255, 0.20);
    color: #ff6d96;
    color: #00ef8d;
}

.sidebar .s-icon {
    margin-left: 8px;
    transition-property: margin-left, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.sText {
    margin-left: 13px;
    transition: opacity 0.5s ease, color 0s;
    opacity: 0;
}

.toggle {
    opacity: 1;
}

/* TODO RENAME */
.toggle2 {
    margin-left: 0px;
}

.rotate {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

/* TODO: RENAME THIS ISH */
.right {
    height: 100%;
    position:relative;
    margin-left: 50px;
    
    transition-property: margin-left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

/* TODO: RENAME THIS ISH */
.open-nav2 {
    margin-left: 250px;
}

/*
||=====||
||VIEWS||
||=====||*/
.main-view {
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    padding: 20px;
    display: flex;
}

/* active view class */
.active {
    visibility: visible !important;
}

/* News Feed View */
.news-view {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/* Bowlers View */
.bowlers-view {
    width: 65%;
    height: 100%;
    background: white;
    /*padding: 20px;*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-right: 19px;
}
.bowlers-secondary {
    width: 34%;
    height: 60%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.bowlers-view ul {
    padding: 0px;
    list-style-type: none;
}
/* Header for the cards list */
.bowlers-view .header span {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: rgb(0, 216, 127);
}
.bowlers-view .header span + span {
    border-left: solid 2px rgba(255, 255, 255, 0.25) !important;
    /*border-left: solid 2px rgba(0, 216, 127, 0.5) !important;*/
}
.bowlers-view .header #id {
    margin-right: -4px !important;
}
.bowlers-view .header #name {
    margin-right: -5px !important;
}

/* the cards */
.bowlers-view li {
    font-family: 'Arvo', sans-serif;
    font-size: 1.2em;
    padding: 0px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}
/* Three parts to a card item */
.bowlers-view li #id {
    padding: 20px;
    width: 20%;
    display: inline-block;
    margin-right: 0px;
}
.bowlers-view li #name {
    display: inline-block;
    padding: 20px;
    width: 54%;
    margin-right: 0px;
    border-left: solid 2px rgba(0, 0, 0, 0.15);
    border-right: solid 2px rgba(0, 0, 0, 0.15);
}
.bowlers-view li #userid {
    display: inline-block;
    padding: 20px;
    width: 25%;
    /*border-left: solid 2px rgba(0, 0, 0, 0.15);*/
}
/* actual hoverable card items NOT HEADER */
.bowlers-view .bowler-item:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}