html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

* {
  box-sizing: border-box; 
}

.sidebar {
    background: #333333;
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    transition-property: width, background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.open-nav {
    width: 250px;
}

.sidebar ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 0px;
}

.sidebar a {
    text-align: left;
    font-family: 'Arvo', sans-serif;
    display: block;
    padding: 10px;
    width: 100%;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.sidebar a:hover {
    background: rgba(255, 255, 255, 0.20);
    color: #ff6d96;
    color: #00ef8d;
}

.sidebar .s-icon {
    margin-left: 8px;
    transition-property: margin-left, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.sText {
    margin-left: 13px;
    transition: opacity 0.5s ease, color 0s;
    opacity: 0;
}

.toggle {
    opacity: 1;
}

/* TODO RENAME */
.toggle2 {
    margin-left: 0px;
}

.rotate {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

/* TODO: RENAME THIS ISH */
.right {
    height: 100%;
    position:relative;
    margin-left: 50px;
    
    transition-property: margin-left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

/* TODO: RENAME THIS ISH */
.open-nav2 {
    margin-left: 250px;
}

/*
||=====||
||VIEWS||
||=====||*/
.main-view {
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    padding: 20px;
    display: flex;
}

/* active view class */
.active {
    visibility: visible !important;
}

/* News Feed View */
.news-view {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/*
||============||
||BOWLERS VIEW||
||============|| also some Leagues view code*/
.bowlers-view,
.leagues-view {
    width: 65%;
    height: 100%;
    background: white;
    /*padding: 20px;*/
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-right: 19px;
}
.bowlers-view ul,
.leagues-view ul,
.leagues-detailed-view ul {
    padding: 0px;
    list-style-type: none;
    position: relative;
}
/* Header for the cards list */
.bowlers-view ul li.header,
.leagues-view ul li.header,
.leagues-detailed-view ul li.header {
    position: fixed;
}
.bowlers-view .header span,
.leagues-view .header span,
.leagues-detailed-view .header span {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: rgb(0, 216, 127);
}
.bowlers-view .header span + span,
.leagues-view .header span + span,
.leagues-detailed-view .header span + span {
    border-left: solid 2px #656565 !important;
    /*border-left: solid 2px rgba(0, 216, 127, 0.5) !important;*/
}
.bowlers-view .header #id,
.leagues-view .header #id,
.leagues-detailed-view .header #id {
    margin-right: -4px !important;
}
.bowlers-view .header #name,
.leagues-view .header #name,
.leagues-detailed-view .header #name
.leagues-detailed-view .header #balance{
    margin-right: -6px !important;
}

/* the cards */
.bowlers-view li,
.leagues-view li,
.leagues-detailed-view li {
    font-family: 'Arvo', sans-serif;
    font-size: 1.2em;
    padding: 0px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}
.bowlers-view li:focus,
.leagues-view li:focus {
    background: #00e486;
    outline: none;
}
.bowlers-view li.active,
.leagues-view li.active {
    background: #00d87f;
}
.bowlers-view li.active:hover,
.leagues-view li.active:hover {
    background: #00ef8d;
}
/* Three parts to a card item */
.bowlers-view li #id,
.leagues-view li #id,
.leagues-detailed-view .detailed-left li #id {
    padding: 20px;
    width: 20%;
    display: inline-block;
    margin-right: 0px;
}
.bowlers-view li #name,
.leagues-view li #name,
.leagues-detailed-view .detailed-left li #name {
    display: inline-block;
    padding: 20px;
    width: 54%;
    margin-right: 0px;
    border-left: solid 2px rgba(0, 0, 0, 0.08);
    border-right: solid 2px rgba(0, 0, 0, 0.08);
}
.bowlers-view li #userid,
.leagues-view li #userid,
.leagues-detailed-view .detailed-left li #userid {
    display: inline-block;
    padding: 20px;
    width: 25%;
    /*border-left: solid 2px rgba(0, 0, 0, 0.15);*/
    margin-right: 0px;
}
/* actual hoverable card items NOT HEADER */
.bowlers-view .bowler-item:hover,
.leagues-view .league-item:hover,
.leagues-detailed-view .bowler-item:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*
||==============||
||SECONDARY DIVS||
||==============||*/
.bowlers-secondary,
.leagues-secondary {
    width: 34%;
    height: 60%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
}

.top {
    width: 100%;
    height: 40%;
    background: #333333;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Arvo', sans-serif;
}
.top .curr-bowler,
.top .curr-league {
    font-size: 2.25em;
    width: 100%;
    color: #00d87f;
    height: 50px;
    line-height: 50px;
}
.top #new-bowler-name,
.top #new-league-name {
    border-radius: 3px;
    background: #494949;
    border: none;
    color: rgba(255, 255, 255, 0.75);
    width: 50%;
    vertical-align: middle;
    margin: 5px auto;
}

.bottom {
    text-align: left;
    width: 100%;
    height: 60%;
    font-family: 'Arvo', sans-serif;
}
.bottom .placeholder {
    text-align: center;
    font-size: 1.5em;
    height: inherit;
}
.bottom .add-to-league {
    width: 100%;
    height: 50%;
    padding: 30px 30px 7px 30px;
}
.bottom .league-detailed {
    width: 100%;
    height: 50%;
    padding: 7px 30px 30px 30px;
}
.bottom .form-title {
    color: #00d87f;
    font-size: 1.1em;
    text-align: left;
}
#bowler-league-form,
#bowler-league-form2 {
    font-size: 1.1em;
    display: inline-block;
    width: 70%;
    
    /*height: auto !important;*/
    
    vertical-align: bottom;
    
    border-radius: 3px 0px 0px 3px; 
    margin-bottom: 0px;
    margin-top: 0px;
}
#submit-bowler-league,
#submit-bowler-league2 {
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    min-width: 30%;
}

.form-control {
    text-decoration: none;
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.45);
}

/*
||=============||
||DETAILED VIEW||
||=============||*/
.leagues-detailed-view {
    width: 100%;
    height: 100%;
    background: white;
    
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.detailed-top {
    padding: 30px;
    width: 100%;
    height: 25%;
    background: #333333;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.detailed-left {
    width: 50%; 
    height: 75%;
    background: white;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.detailed-left ul li #userid {
    text-align: center;
}
.detailed-left ul li .button2D {
    padding: 0.25em;
    margin: 0px;
    margin-left: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.detailed-right {
    width: 50%;
    height: 75%;
    background: white;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.detailed-right li #id {
    padding: 20px;
    width: 33%;
    display: inline-block;
    margin-right: 0px;
}
.detailed-right li #balance {
    display: inline-block;
    padding: 20px;
    width: 33%;
    margin-right: 0px;
    border-left: solid 2px rgba(0, 0, 0, 0.08);
    border-right: solid 2px rgba(0, 0, 0, 0.08);
}
.detailed-right li #status {
    display: inline-block;
    padding: 20px;
    width: 33%;
    /*border-left: solid 2px rgba(0, 0, 0, 0.15);*/
    margin-right: 0px;
}

.detailed-top .detailed-header {
    color: #00d87f;
    font-family: 'Arvo', sans-serif;
    font-size: 2.5em;
}