/* Carousel */
html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    min-height: 500px;
    text-align: center;
}

.carousel-caption {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.carousel-caption h1 {
    font-size: 5em;
    margin-bottom: -20px;
}
.carousel-caption h3 {
    font-size: 1.75em;
    margin-bottom: 1.75em;
}
.carousel-caption a {
    padding: 10px 25px 10px 25px;
}

/* overlay */
.overlay {
    background: rgba(0, 0, 0, 0.25);
}

.item:nth-child(1) {
    background-image: url('/img/bowling1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(2) {
    background-image: url('/img/test-img1');
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(3) {
    background-image: url('/img/test-img1');
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
||======||
||NAVBAR||
||======||*/
.navbar {
    padding: 5px;
    position: absolute;
    background: none;
    /*background: rgba(0, 0, 0, 0.25);*/
    border: none; /* get rid of border thing on bottom */
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.navbar-brand span {
    color: rgba(255, 255, 255, 0.4);
}
.navbar-brand span:hover {
    color: white;
}

/* 
||======||
||MODALS|| 
||======||*/
/**
 * Here we override the existing animation of Bootstrap's modals
 * We will remove the slide effect and just keep a fade in/out animation
 */
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    
    -webkit-transition: -webkit-transform 0.2s ease-out;
          -moz-transition: -moz-transform 0.2s ease-out;
              -o-transition: -o-transform 0.2s ease-out;
                    transition: transform 0.2s ease-out;
}

/* Vertically align modal dialog in the middle of screen */
@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    border-radius: 3px !important;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.modal-content {
    padding: 0.5em;
    border-radius: 3px;
}

/* text boxes in modals */
.modal-content input {
    border-radius: 3px;
    margin-bottom: -10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.modal-content p {
    margin-bottom: -5px;
}

/* buttons in the modal */
.modal-dialog a {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
}

.modal-sm {
    width: 27vw;
}

/**
 * Here we write some rules to align the Remember me and Forgot password divs to the left and right
 *  in the same line. we use table cells to accomplish this
 */
.rem-container {
    margin-top: 20px;
    margin-bottom: 5px;
    
    display: table;
    width: 100%;
}
.remember-me {
    display: table-cell;
    text-align: left;
}
.remember-me label {
    font-weight: normal;
}
.forgot-password {
    display: table-cell;
    text-align: right;
    cursor: pointer;
}
.forgot-password a {
    text-decoration: none;
}

.login-modal-footer {
    margin-top: -5px;
    margin-bottom: -5px;
}
.login-modal-footer a {
    cursor: pointer;
    text-decoration: none;
}

/* forms in Bootstrap 3 */
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}