.pseudo-nav {
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /*
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;*/
    padding: 20px;
    position: fixed;
    vertical-align: middle;
}

.page-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.pseudo-nav .button2D {
    margin-top: 0px !important;
}

/*
||===========||
||BOWLER VIEW||
||===========||*/
.input-group {
    display: inline-block;
}
/* The "Find Bowler" form*/
#find-bowler-form {
    width: 30%;
}