.pseudo-nav {
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /*
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;*/
    padding: 20px;
    position: fixed;
    vertical-align: middle;
    display: inline-block;
}

.page-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-right: 20px;
}

.pseudo-nav .button2D {
    margin: 0px;
    display: inline-block;
}

/*
||===========||
||BOWLER VIEW||
||===========||*/

/* The "Find Bowler" form*/
#find-bowler-form {
    font-family: 'Arvo', sans-serif;
    font-size: 1.1em;
    display: inline-block;
    width: 35%;
    
    vertical-align: bottom;
    margin-left: 20px;
    
    border-radius: 3px 0px 0px 3px;
}
#submit-find-bowler {
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    min-width: 0px;
}