.pseudo-nav {
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /*
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;*/
    padding: 20px;
    position: fixed;
    vertical-align: middle;
    display: inline-block;
}

.page-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-right: 20px;
}

.pseudo-nav .button2D {
    margin: 0px;
    display: inline-block;
}

/*
||===========||
||BOWLER VIEW||
||===========||*/

/* The "Find Bowler" form*/
#find-bowler-form,
#find-league-form {
    font-family: 'Arvo', sans-serif;
    font-size: 1.1em;
    display: inline-block;
    width: 35%;
    height: auto;
    
    vertical-align: bottom;
    margin-left: 20px;
    
    border-radius: 3px 0px 0px 3px;
}
/* Get rid of the spin icons (arrows) in the form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#submit-find-bowler,
#submit-find-league {
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    min-width: 0px;
}

/*
||======||
||MODALS||
||======||*/
/* Get rid of sliding animation */
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    
    -webkit-transition: -webkit-transform 0.2s ease-out;
          -moz-transition: -moz-transform 0.2s ease-out;
              -o-transition: -o-transform 0.2s ease-out;
                    transition: transform 0.2s ease-out;
}

/* Center horizontally */
.modal {
  text-align: center;
  padding: 0 !important;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.modal-content {
    padding: 0.5em;
    border-radius: 3px;
}

/* text boxes in modals */
.modal-content input {
    border-radius: 3px;
    margin-bottom: -20px;
    font-family: 'Arvo', sans-serif;
}

/* buttons in modal */
.modal-dialog a {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.modal-sm {
    width: 330px;
}

.clearable {
    background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
    background: url(../img/clear-x.jpg) no-repeat right -30px center;
    background-size: 10%;
    
    padding: 3px 25px 3px 10px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.2s, box-shadow 0.3s, border 0.3s;
}
.clearable.x { 
    background-position: right 10px center; 
}
.clearable.onX { 
    cursor: pointer; 
}
.clearable::-ms-clear {
    display: none; 
    width:0; 
    height:0;
}